.navbar{
    height: 4rem;
    width: 100%;
    background-color: grey;
    text-align: center;
    
    h3{
        padding-top: 1rem;
        color: white;
        font-size: 2rem;
    }
}

/* ======================== Media Query (Small Devices) =======================*/

@media screen and (max-width: 600px) {
    h3{
        font-size: 1.6rem !important;
    }
  }