.userdata {
  background-color: #f1efef;
  width: 100%;
  margin-top: 3rem;
  height: 100vh;

  .table_container{
    overflow-x:auto;
  }

  .userdata_table {
      align-items: center;
  }

  h1 {
    text-align: center;
    padding: 2rem;
  }

  table {
    border-collapse: collapse;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }

  td,
  th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }
}

/* ======================== Media Query (Tablet) =======================*/

@media screen and (max-width: 806px) {
  table {
    width: 38rem !important;
  }
}
/* ======================== Media Query (Small Devices) =======================*/

@media screen and (max-width: 600px) {
  table {
    width: 25rem !important;
    // overflow-x:scroll
  }
}